<div class="container">
    <h4 class="text-center">Formulario Rectivo</h4>
    <div class="row justify-content-center">
      <div class="wraper-form">
        <mat-card>
            <form class="d-flex flex-column">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Sexo</mat-label>
                    <mat-select>
                      <mat-option value="hombre">Hombre</mat-option>
                      <mat-option value="mujer">Mujer</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-button>Basic</button>
            </form>
        </mat-card>
          <button class="w-100 mt-5" mat-button color="primary" routerLink="/">Primary</button>
      </div>
    </div>
</div>
